@page "/memelogger"

@using System.Text;
@using Microsoft.AspNetCore.SignalR.Client;
@using JinsMeme.Shared.Hubs;
@using JinsMeme.Blazor.Services;
@using TypedSignalR.Client;

@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h3>MemeLogger</h3>

<ul>
    @for(int i = _messages.Count - 1; 0 <= i ; i--)
    {
        <li>@_messages[i]</li>
    }
</ul>

@code {
    private List<string> _messages = new();
    private HubConnection? _hubConnection = default;
    private IDisposable? _disposable;

    protected override async Task OnInitializedAsync()
    {
        var hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5001/MemeHub")
            .Build();

        var instance = new MemeReceiver(_messages);
        _disposable = instance.Subscribe(_ => this.StateHasChanged());

        hubConnection.Register<IReceiver>(instance);

        await hubConnection.StartAsync();

        _hubConnection = hubConnection;
    }

    public async ValueTask DisposeAsync()
    {
        _disposable?.Dispose();

        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
